<% if(entries){ %>
<%_ entries.forEach(function(entry) { _%>

<% if (entry.imageFile === "NOTHING TO SEE HERE") { %>
<% var hide = "" %>
<% var cardClass = "cardWOImg" %>
<% } else { %>
<% var hide = "/image/" + entry.imageFile %>
<% var cardClass = "cardWImg" %>
<% } %>

<% var cardId = "eIDfollowingEntries" + entry._id %>

<div class="card card-body mb-3" id="<%= cardId %>">
  <div class="followingEntriesImg orientation" image="<%= hide %>"></div>
  <div class="<%= cardClass %>">
    <div class="uNFavIcnContainer">
      <div class="profileFllwUnFllw">
        <a href="/index" class="userProfName">
          <h3><%= entry._user.profileName %></h3>
        </a>

        <% if (entry._user.profileName === userData.profileName) { %>
        <% var hide = "d-none" %>
        <% } else { %>
        <% var hide = "" %>
        <% } %>

        <% let userFollowingArray = JSON.stringify([...new Set(userFollowing.map(item => item._id))]); %>

        <% if (userFollowingArray.includes(entry._user._id)) { %>
        <% var folUnfol = "Unfollow" %>
        <% } else { %>
        <% var folUnfol = "Follow" %>
        <% } %>

        <% var followbtnUName = "flwBtnfollowingEntries" + entry._user.profileName %>

        <div class="flwUnflw <%= hide %>">
          <form method="POST" action="/follow">
            <% var flwBtnId = "flwfollowingEntries"+ entry._id %>
            <button class="followBtn btn <%= followbtnUName %>" name="followButton" id="<%= flwBtnId %>" value="<%= entry._user._id %>">
              <%= folUnfol %>
            </button>
          </form>
        </div>

      </div>

      <div class="favShare">
        <div class="shareBtnContainer">

          <% var collapseShareID = "afollowingEntries" + JSON.stringify(entry._id).replace(/"/g, "") %>

          <button class="shareBtn" type="button" data-toggle="collapse" data-target="#<%= collapseShareID %>" aria-expanded="false" aria-controls="<%= collapseShareID %>">
            <i class="fas fa-share "></i>
          </button>
        </div>

        <div class="favBtnContainer">

          <% var favFormEntryId = "favFormfollowingEntries"+ entry._id%>

          <form method="POST" action="/favorite" id="<%= favFormEntryId %>">

            <% var heartBtnEntryId = "efollowingEntries"+ entry._id%>
            <% var favs = JSON.stringify(entry._favoriteUsers) %>
            <% if (favs.includes(userData._id)) { %>
            <% var faved = "" %>
            <% var notFaved = "d-none" %>
            <% var clicked = "clicked" %>
            <% } else { %>
            <% var faved = "d-none" %>
            <% var notFaved = "" %>
            <% var clicked = "" %>
            <% } %>

            <button class="favBtn <%= clicked %>" name="favoriteButton" id="<%= heartBtnEntryId %>" value="<%= entry._id %>">
              <i id="unfav" class="far fa-heart <%= notFaved %>"></i>
              <i id="Fav" class="fas fa-heart  <%= faved %>"></i>
            </button>
          </form>
        </div>
      </div>
    </div>
    <div class="aFSMIconContainer collapse" id="<%= collapseShareID %>">
      <span class="aFSMIcons border rounded">
        <i class="fab fa-facebook"></i>
        <i class="fab fa-instagram"></i>
        <i class="fab fa-twitter"></i>
        <i class="fas fa-external-link-alt"></i>
      </span>
    </div>
    <div class="captionContainer">

      <% var captionId = "cptfollowingEntries"+ entry._id %>

      <p class="card-text" id="<%= captionId %>"><%= entry.caption %></p>
      <div class="editEntryForm d-none">
        <form method="POST" action="/upload">

          <% var editCaptionFormId = "editCptTAfollowingEntries"+ entry._id %>

          <textarea class="captionContainer" rows="" name="" id="<%= editCaptionFormId %>" placeholder=""><%- entry.caption %></textarea>

          <% var editCptBtnBarId = "editCptBtnBarfollowingEntries"+ entry._id %>

          <div class="editEntryBtnBar" id="<%= editCptBtnBarId %>">
            <button type="submit" class="btn btn-primary btn-block mr-1 submitEditBtn" value="<%= entry._id %>">Save</button>
            <button type="button" class="btn btn-secondary closeEditBtn" value="<%= entry._id %>">Close</button>
          </div>
        </form>
      </div>

    </div>

    <% var collapseExpandID = "b" + collapseShareID %>
    <% var collapseExpandIconID = "c" + collapseExpandID %>

    <div class="expndCrdContainer expandCrdCusion">
      <button class="expndCrdBtn" type="button" data-toggle="collapse" data-target="#<%= collapseExpandID %>" aria-expanded="false" aria-controls="<%= collapseExpandID %>">
        <i class="fas fa-chevron-down" id="<%= collapseExpandIconID %>"></i>
      </button>
    </div>

    <div class="collapse entryTrayContainer" id="<%= collapseExpandID %>">
      <div class="reportIcnContainer">

          <% var rptModalId = "rptModalfollowingEntries" + entry._id %>

        <button class="entryContainerBtn warning" data-toggle="modal" data-target="#<%= rptModalId %>">
          <i class="fas fa-exclamation-circle"></i>
        </button>

      </div>

      <% var yours = JSON.stringify(userData._id) %>
      <% var posTheirs = JSON.stringify(entry._user._id) %>
      <% if (yours === posTheirs) { %>
      <% var show = "" %>
      <% } else { %>
      <% var show = "d-none" %>
      <% } %>

      <div class="editIcnContainer <%= show %>">
        <button class="editBtn entryContainerBtn" value="<%= entry._id %>" name="entryToUpdate">
          <i class="fas fa-edit"></i>
        </button>
      </div>

      <div class="deleteIcnContainer <%= show %>">
        <form method="POST" action="/delete">
          <button class="entryContainerBtn warning " value="<%= entry._id %> <%= entry.imageFile %>" id="deleteButton" name="deleteButton">
            <i class="fas fa-trash"></i>
          </button>
        </form>
      </div>
    </div>

  </div>

  <form method="POST" action="/report">
    <div class="modal fade" id="<%= rptModalId %>" tabindex="-1" role="dialog" aria-labelledby="reportModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Report Entry</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label for="reportRuleSelector">Which Rule Does this Entry Break?</label>
              <div class="form-check" id="reportRuleSelector">
                <input class="form-check-input" type="radio" name="rule" id="reportRuleSelector1" value="Entry must be based in gratitude" checked>
                <label class="form-check-label" for="reportRuleSelector1">
                  Entry must be based in gratitude
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="rule" id="reportRuleSelector2" value="Gratitude cannot be at expense of the well-being of another">
                <label class="form-check-label" for="reportRuleSelector2">
                  Gratitude cannot be at expense of the well-being of another
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="rule" id="reportRuleSelector3" value="No politics">
                <label class="form-check-label" for="reportRuleSelector3">
                  No politics
                </label>
              </div>

              <br />

              <textarea class="form-control reportTA" rows="3" name="reportComments" placeholder="Comments"></textarea>
            </div>
          </div>
          <% var rptSubmitBtn = "rptBtnfollowingEntries" + entry._id %>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary reportSubmitBtn"  id="<%= rptSubmitBtn %>" name="reportButton">Submit</button>
            <button type="button" id="modalCloseBtn" class="btn btn-secondary inline" data-dismiss="modal">Close</button>
          </div>

        </div>
      </div>
    </div>
  </form>
</div>
<%_ }) _%>
<% } else { %>
<p>No entries to show!</p>
<% } %>
