
<% if (entry.imageFile === "NOTHING TO SEE HERE") { %>
<% var hide = "" %>
<% var cardClass = "cardWOImg" %>
<% } else { %>
<% var hide = "/image/" + entry.imageFile %>
<% var cardClass = "cardWImg" %>
<% } %>

<% var cardId = "eID" + entry._id %>

<div class="primaryShadow primaryBorderRadius publicPaperBack card-body-2 mb-3" id="<%= cardId %>">
  <div class="everyOneImg orientation" image="<%= hide %>"></div>
  <div class="<%= cardClass %>">
    <div class="collectionContainer">
      <div class="collectionNameFrame"><hr /></div>
      <div class="collectionName">

        <% var userCollectionsPublic = "/user/" + userData.profileName + "/Collections/"+ entry._grouping.groupingName %>

        <a href="<%= userCollectionsPublic %>" class="">
          <p><%= entry._grouping.groupingName %></p>
        </a>
      </div>
      <div class="collectionNameFrame"><hr /></div>
    </div>

    <div class="uNFavIcnContainer">
      <div class="profileFllwUnFllw">
        <h3 class="primaryPurpleFont"><%= userData.profileName %></h3>
      </div>

      <div class="favShare">
        <div class="shareBtnContainer">

          <% var collapseShareID = "a" + JSON.stringify(entry._id).replace(/"/g, "") %>

          <button class="shareBtn" type="button" data-toggle="collapse" data-target="#<%= collapseShareID %>" aria-expanded="false" aria-controls="<%= collapseShareID %>">
            <i class="fas fa-share "></i>
          </button>
        </div>

        <div class="favBtnContainer">

          <% var favFormEntryId = "favForm"+ entry._id%>

          <form method="POST" action="/favorite" id="<%= favFormEntryId %>">

            <% var heartBtnEntryId = "e"+ entry._id%>
            <% var favs = JSON.stringify(entry._favoriteUsers) %>
            <% if (favs.includes(userData._id)) { %>
            <% var faved = "" %>
            <% var notFaved = "d-none" %>
            <% var clicked = "clicked" %>
            <% } else { %>
            <% var faved = "d-none" %>
            <% var notFaved = "" %>
            <% var clicked = "" %>
            <% } %>

            <button class="favBtn <%= clicked %>" name="favoriteButton" id="<%= heartBtnEntryId %>" value="<%= entry._id %>">
              <i id="unfav" class="far fa-heart <%= notFaved %>"></i>
              <i id="Fav" class="fas fa-heart  <%= faved %>"></i>
            </button>
          </form>
        </div>
      </div>
    </div>
    <div class="aFSMIconContainer collapse" id="<%= collapseShareID %>">
      <span class="aFSMIcons border rounded">
        <i class="fab fa-facebook"></i>
        <i class="fab fa-instagram"></i>
        <i class="fab fa-twitter"></i>
        <i class="fas fa-external-link-alt"></i>
      </span>
    </div>
    <div class="captionContainer">

      <% var captionId = "cpt"+ entry._id %>

      <p class="card-text" id="<%= captionId %>"><%= entry.caption %></p>

    </div>

    <% var collapseExpandID = "b" + collapseShareID %>
    <% var collapseExpandIconID = "c" + collapseExpandID %>

    <div class="expndCrdContainer expandCrdCusion">
      <button class="expndCrdBtn" type="button" data-toggle="collapse" data-target="#<%= collapseExpandID %>" aria-expanded="false" aria-controls="<%= collapseExpandID %>">
        <i class="fas fa-chevron-down" id="<%= collapseExpandIconID %>"></i>
      </button>
    </div>

    <div class="collapse entryTrayContainer" id="<%= collapseExpandID %>">
      <div class="reportIcnContainer">

          <% var rptModalId = "rptModal" + entry._id %>

        <button class="entryContainerBtn warning" data-toggle="modal" data-target="#<%= rptModalId %>">
          <i class="fas fa-exclamation-circle"></i>
        </button>

      </div>

    </div>

  </div>

  <form method="POST" action="/report">
    <div class="modal fade" id="<%= rptModalId %>" tabindex="-1" role="dialog" aria-labelledby="reportModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Report Entry</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label for="reportRuleSelector">Which Rule Does this Entry Break?</label>
              <div class="form-check" id="reportRuleSelector<%= rptModalId %>">
                <input class="form-check-input" type="radio" name="rule" id="reportRuleSelector1<%= rptModalId %>" value="Entry must be based in gratitude" checked>
                <label class="form-check-label" for="reportRuleSelector1">
                  Entry must be based in gratitude
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="rule" id="reportRuleSelector2<%= rptModalId %>" value="Gratitude cannot be at expense of the well-being of another">
                <label class="form-check-label" for="reportRuleSelector2<%= rptModalId %>">
                  Gratitude cannot be at expense of the well-being of another
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="rule" id="reportRuleSelector3<%= rptModalId %>" value="No politics">
                <label class="form-check-label" for="reportRuleSelector3<%= rptModalId %>">
                  No politics
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="rule" id="reportRuleSelector4<%= rptModalId %>" value="Inappropriate content">
                <label class="form-check-label" for="reportRuleSelector3<%= rptModalId %>">
                  Inappropriate content that has broken Aurealius' Terms of Use
                </label>
              </div>

              <br />

              <textarea class="form-control reportTA" rows="3" name="reportComments" placeholder="Comments"></textarea>
            </div>
          </div>
          <% var rptSubmitBtn = "rptBtn" + entry._id %>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary reportSubmitBtn"  id="<%= rptSubmitBtn %>" name="reportButton">Submit</button>
            <button type="button"  class="btn btn-secondary inline" data-dismiss="modal">Close</button>
          </div>

        </div>
      </div>
    </div>
  </form>
</div>
