
<div class="userContainer">
  <div class="container-fluid mobilePaddingReduction">
    <div class="row userBoxPadding align-items-center">
      <div class="col-md-12 align-items-center userColumnLeft">
        <div class="profilePicContainer">
          <% if(userData.bioImageFile === "/assets/defaultusericon.png") { %>
          <% var userImage = userData.bioImageFile %>
          <% } else { %>
          <% var userImage = "/image/" + userData.bioImageFile %>
          <% } %>
          <div class="userProfilePic orientation" image="<%= userImage %>"></div>
        </div>
      </div>
      <div class="col-md-12 userColumnRight">
        <div class="userInfoCard">
          <div class="profileInfo">
            <h2><%= userData.profileName %></h2>
            <h4 class="inline"><%= userData.firstName %> <%= userData.lastName %>
            </h4>
            <!-- <a href="/settings" class="settingsIcn inline">
              <i class="fas fa-cog"></i>
            </a> -->
          </div>
          <div class="expndCrdContainer">
            <button class="expndCrdBtn" type="button" data-toggle="collapse" data-target="#userColumnFollow" aria-expanded="false" aria-controls="userColumnFollows">
              <i class="fas fa-chevron-down" id="collapseExpanduserColumnFollowIcon"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="row collapse show" id="userColumnFollow">
      <div class="col-sm-12" >
        <div class="">
          <div class="followContainer followingContainer">
            <div class="followBoxHeader">

              <h5 class="inline" id="followNum">
                Following (<%= userData._following.length %>)
              </h5>
            </div>

            <div class="expndFollowContainer mobileExpd">
              <button class="expndCrdBtn" type="button" data-toggle="collapse" data-target="#followLinklist" aria-expanded="false" aria-controls="followLinklist">
                <i class="fas fa-chevron-down" id="mfollowingChevronLftToDwn"></i>
              </button>
            </div>

            <div class="followLinkContainer collapse" id="followLinklist">

              <%- include("../partials/followPanel", {userFollowing: userFollowing}) %>

            </div>
            <div class="expndFollowContainer nonMobileExpd">
              <button class="expndCrdBtn" type="button" data-toggle="collapse" data-target="#followLinklist" aria-expanded="false" aria-controls="followLinklist">
                <i class="fas fa-chevron-down" id="nMfollowingChevronLftToDwn"></i>
              </button>
            </div>
          </div>
          <div class="followContainer">
            <div class="followBoxHeader">
              <h5 class="inline">
                Followers (<%= userData._followers.length %>)
              </h5>
            </div>

            <div class="expndFollowContainer mobileExpd">
              <button class="expndCrdBtn" type="button" data-toggle="collapse" data-target="#followerLinklist" aria-expanded="false" aria-controls="followerLinklist">
                <i class="fas fa-chevron-down" id="mfollowerChevronLftToDwn"></i>
              </button>
            </div>

            <div class="followLinkContainer collapse" id="followerLinklist">

              <%- include("../partials/followerPanel", {userFollowers: userFollowers}) %>

            </div>
            <div class="expndFollowContainer nonMobileExpd">
              <button class="expndCrdBtn" type="button" data-toggle="collapse" data-target="#followerLinklist" aria-expanded="false" aria-controls="followerLinklist">
                <i class="fas fa-chevron-down" id="nMfollowerChevronLftToDwn"></i>
              </button>
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>

</div>
