<%- include('partials/headerLoggedIn') %>

<div class="container headerSpacing">
  <div class="row">
    <div class="col-12">

      <%- include('partials/search') %>

    </div>
  </div>
  <div class="row" id="favCollectionsRenderingContainer">

    <% if(favGroupings.length > 0){ %>
    <div class="col-12">

      <div class="mb-4 d-flex align-items-center justify-content-between paperBack pt-2 pb-2 pl-3 pr-3">
        <div class="d-flex align-items-center">
          <div class="inline collectionBioImagePrvwBorder">

            <% if(targetData.bioImageFile === "/assets/defaultusericon.png") { %>
            <% var targetUserImage = targetData.bioImageFile %>
            <% } else { %>
            <% var targetUserImage = "/image/" + targetData.bioImageFile %>
            <% } %>

            <div class="collectionBioImagePrvw orientation" image="<%= targetUserImage %>"></div>

          </div>
          <h3 class="inline ml-3 mb-0 darkgrayFont"><%= targetData.profileName %></h3>

        </div>

        <div class="d-flex w-50">
          <% var userProfile = "/user/" + targetData.profileName %>

          <form method="GET" action="<%= userProfile %>">
            <button type="submit" class="btn btn-primary">
              Back to Profile
            </button>
          </form>
        </div>
      </div>

      <div class="d-flex justify-content-between">
        <div class="favCollectionNameFrame">
          <hr />
        </div>
        <div class="d-flex h-100 align-items-baseline">
          <h3 class="bodyFont darkgrayFont favCollectionTitle">Favorites</h3>
        </div>
        <div class="favCollectionNameFrame">
          <hr />
        </div>
      </div>
    </div>

    <% favGroupings.forEach(function(favGrouping) { %>

    <div class="col-md-3">
      <div class="card p-3 mb-3">

        <div class="collectionBackStop">
          <% if(favGrouping.groupingImageFile === "NOTHING TO SEE HERE") { %>
          <% var collectionImage = "/assets/defaultusericon.png" %>
          <% } else { %>
          <% var collectionImage = "/image/" + favGrouping.groupingImageFile %>
          <% } %>
          <div class="favCollectionImg orientation" image="<%= collectionImage %>"></div>

          <% var favCollectionPagePublic = "/user/" + targetData.profileName + "/Collections/"+ favGrouping.groupingName %>

          <div class="collectionheading">
            <h5><a class="whiteFont collectionLink cltId<%=favGrouping._id %>" href="<%= favCollectionPagePublic %>"><%= favGrouping.groupingName %></a></h5>
          </div>

        </div>
      </div>
    </div>

    <% }) %>
    <hr />
    <% } %>

  </div>
  <div class="row" id="unfavCollectionsRenderingContainer">

    <% if(groupings.length > 0){ %>

    <% groupings.forEach(function(grouping) { %>

    <div class="col-md-3">
      <div class="card p-3 mb-3">

        <div class="collectionBackStop">
          <% if(grouping.groupingImageFile === "NOTHING TO SEE HERE") { %>
          <% var collectionImage = "/assets/defaultusericon.png" %>
          <% } else { %>
          <% var collectionImage = "/image/" + grouping.groupingImageFile %>
          <% } %>
          <div class="favCollectionImg orientation" image="<%= collectionImage %>"></div>

          <% var collectionPagePublic = "/user/" + targetData.profileName + "/Collections/"+ grouping.groupingName %>

          <div class="collectionheading">
            <h5><a class="whiteFont collectionLink cltId<%=grouping._id %>" href="<%= collectionPagePublic %>"><%= grouping.groupingName %></a></h5>
          </div>

        </div>
      </div>
    </div>

    <% }) %>
    <% } %>

  </div>
</div>

<%- include('partials/footer') %>
