<%- include('partials/headerLoggedIn') %>

<div class="container headerSpacing">
  <div class="row">

    <div class="col-md-3 center-block">

      <%- include('partials/yourUserPanel') %>

    </div>

    <div class="col-md-8">

      <%- include('partials/newEntry') %>

      <hr />

      <div id="renderedEntryContainer">

        <%- include('partials/everyoneEntries') %>

      </div>
    </div>

  </div>
</div>

<%- include('partials/footer') %>
