<%- include('partials/headerLoggedIn') %>

<div class="container headerSpacing">
  <div class="row">

    <div class="col-md-3 center-block">
      <div class="userContainer">
        <div class="container-fluid mobilePaddingReduction">
          <div class="row userBoxPadding align-items-center">
            <div class="col-md-12 align-items-center userColumnLeft">
              <div class="profilePicContainer">
                <% if(userData.bioImageFile === "/assets/defaultusericon.png") { %>
                <% var userImage = userData.bioImageFile %>
                <% } else { %>
                <% var userImage = "/image/" + userData.bioImageFile %>
                <% } %>
                <div class="userProfilePic orientation" image="<%= userImage %>"></div>
              </div>
              <br />
            </div>
            <div class="col-md-12 userColumnRight">
              <div class="userInfoCard">
                <div class="profileInfo">
                  <h2><%= userData.profileName %></h2>
                  <h4 class="inline"><%= userData.firstName %> <%= userData.lastName %>
                  </h4>
                  <a href="/settings" class="settingsIcn inline">
                    <i class="fas fa-cog"></i>
                  </a>
                </div>
                <div class="expndCrdContainer">
                  <button class="expndCrdBtn" type="button" data-toggle="collapse" data-target="#userColumnFollow" aria-expanded="false" aria-controls="userColumnFollows">
                    <i class="fas fa-chevron-down" id="collapseExpanduserColumnFollowIcon"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="collapse show" id="userColumnFollow">
                <div class="followContainer followingContainer">
                  <div class="followBoxHeader">

                    <h5 class="inline" id="followNum">
                      Following (<%= userData._following.length %>)
                    </h5>
                  </div>

                  <div class="expndFollowContainer mobileExpd">
                    <button class="expndCrdBtn" type="button" data-toggle="collapse" data-target="#followLinklist" aria-expanded="false" aria-controls="followLinklist">
                      <i class="fas fa-chevron-down" id="mfollowingChevronLftToDwn"></i>
                    </button>
                  </div>

                  <div class="followLinkContainer collapse" id="followLinklist">

                    <%- include('partials/followPanel') %>

                  </div>
                  <div class="expndFollowContainer nonMobileExpd">
                    <button class="expndCrdBtn" type="button" data-toggle="collapse" data-target="#followLinklist" aria-expanded="false" aria-controls="followLinklist">
                      <i class="fas fa-chevron-down" id="nMfollowingChevronLftToDwn"></i>
                    </button>
                  </div>
                </div>
                <div class="followContainer">
                  <div class="followBoxHeader">
                    <h5 class="inline">
                      Followers (<%= userData._followers.length %>)
                    </h5>
                  </div>

                  <div class="expndFollowContainer mobileExpd">
                    <button class="expndCrdBtn" type="button" data-toggle="collapse" data-target="#followerLinklist" aria-expanded="false" aria-controls="followerLinklist">
                      <i class="fas fa-chevron-down" id="mfollowerChevronLftToDwn"></i>
                    </button>
                  </div>

                  <div class="followLinkContainer collapse" id="followerLinklist">

                    <% if(userFollowers.length > 0){ %>
                    <% userFollowers.forEach(function(followingUsers) {%>

                    <div class="btn btn-primary followLinkBox">
                      <% if(followingUsers.bioImageFile === "/assets/defaultusericon.png") { %>
                      <% var userImage = followingUsers.bioImageFile %>
                      <% } else { %>
                      <% var userImage = "/image/" + followingUsers.bioImageFile %>
                      <% } %>
                      <div class="followingPrvw orientation" image="<%= userImage %>"></div>
                      <h5 class="followTxt">
                        <%= followingUsers.profileName %>
                      </h5>
                    </div>
                    <% }) %>
                    <% } else { %>
                    <p class="noFollowTxt">No Followers</p>
                    <% } %>
                  </div>
                  <div class="expndFollowContainer nonMobileExpd">
                    <button class="expndCrdBtn" type="button" data-toggle="collapse" data-target="#followerLinklist" aria-expanded="false" aria-controls="followerLinklist">
                      <i class="fas fa-chevron-down" id="nMfollowerChevronLftToDwn"></i>
                    </button>
                  </div>
                </div>

              </div>
            </div>
          </div>

        </div>

      </div>
    </div>

    <div class="col-md-8">
      <div class="entryContainer entryFormCard">
        <form action="/upload" method="POST" enctype="multipart/form-data" onsubmit="entrySubmit.disabled = true; return true">
          <div class="form-group entry-form">
            <textarea class="form-control cushion expandTA" rows="2" name="caption" placeholder="What are you grateful for right now?"></textarea>

            <div class="upldToggleContainer expandable d-none">

              <label class="btn fileBtn" for="my-file-selector">
                <input id="my-file-selector" type="file" name="file" class="" style="display:none" onchange="$('#upload-file-info').html(this.files[0].name)">
                Add Image
              </label>
              <div class="inline label label-info" id="upload-file-info"></div>
              <div class="toggleCotainer">
                <input type="checkbox" data-toggle="toggle" data-on="Private" data-off="Public" data-onstyle="danger" data-offstyle="success" name="status" data-width="100" checked value="private">
              </div>
            </div>
          </div>
          <button type="button" class="btn btn-primary entry-form-submitBtn btn-block expandable d-none" data-toggle="modal" data-target="#collectionModal">
            Submit
          </button>

          <div class="modal" id="collectionModal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Choose Your Collection</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div class="form-group">
                    <label for="collectionSelector">Choose Collection</label>
                    <input class="form-control collectionInputChoice" name="grouping" id="collectionTextArea" placeholder="Add New Collection"></input>
                    <select multiple class="form-control collectionInputChoice" id="collectionSelector" name="grouping">
                      <% if(groupings){ %>
                      <% groupings.forEach(function(userCollectionName) { %>
                      <option>
                        <%= userCollectionName %>
                      </option>
                      <% }) %>
                      <% } else { %>
                      <p>No Collections to show!</p>
                      <% } %>
                    </select>
                  </div>
                </div>
                <div class="modal-footer">
                  <input type="submit" value="Save" class="btn btn-primary btn-block" name="entrySubmit" />
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>

        </form>
      </div>
      <hr />

      <div id="renderedEntryContainer">

        <%- include('partials/everyoneEntries') %>

      </div>
    </div>

  </div>
</div>

<%- include('partials/footer') %>
