<%- include('partials/headerLoggedIn') %>

<div class="container headerSpacing">
  <div class="row">
    <div class="col-12">

      <%- include('partials/search') %>

    </div>

    <div class="col-md-3 center-block">

      <%- include('partials/theirUserPanel') %>

    </div>

    <div class="col-md-9">
      <div id="userCollectionsPublicContainer">
      </div>
      <hr />

      <div class="container">
        <div class="row">
          <div class="btn-group col-sm m-auto ctr" id="userBtnBarContainer" role="group" aria-label="">
            <button type="button" id="showuserEntriesPublic" class="btn userBtnBar customActive" value="/userEntriesPublic" ><i class="fas fa-user"></i><%= userData.firstName %></button>
            <button type="button" id="showfollowingEntriesPublic" class="btn userBtnBar" value="/followingEntriesPublic"><i class="fas fa-users"></i>Following</button>
            <button type="button" id="showfavoriteEntriesPublic" class="btn userBtnBar" value="/favoriteEntriesPublic"><i class="fas fa-heart"></i>Favorites</button>
          </div>
        </div>
      </div>

        <hr />
      <div id="renderingContainer">
        <div id="userEntriesPublicContainer" value="userEntriesPublic"></div>
        <div id="followingEntriesPublicContainer" value="followingEntriesPublic"></div>
        <div id="favoriteEntriesPublicContainer" value="favoriteEntriesPublic"></div>
      </div>
    </div>

  </div>
</div>

<%- include('partials/footer') %>
