<%- include('partials/headerLoggedInUser') %>

<title>Your Gratitude</title>
<div class="container">
  <div class="row">
    <div class="col-md-6 m-auto">

      <div class="userBio">
        <div class="userImageContainer">
          <% var userImage = "/image/" + userInfo[0].bioImageFile %>
          <div class="userImage orientation" image="<%= userImage %>"></div>
        </div>
        <div class="userInfo">
          <h4 class="text-center display-4"><%=userInfo[0].firstName + " " + userInfo[0].lastName %></h4>
          <form action="/userUpload" method="POST" enctype="multipart/form-data">
            <button type="button" class="btn btn-outline-secondary" data-toggle="modal" data-target="#userInfoModal">
              Edit
            </button>
            <div class="modal" id="userInfoModal" tabindex="-1" role="dialog">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title">Edit Your Information</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <div class="form-group">
                      <div class="container-fluid">
                        <div class="row">
                          <div class="col">
                            <div class="userImagePreviewContainer">
                              <div class="userImagePreview orientation" image="<%= userImage %>"></div>
                            </div>
                            <div class="custom-file mb-3">
                              <input type="file" name="file" id="bioFile" class="form-control-file" />
                            </div>
                          </div>
                          <div class="col-6">
                            <label for="editProfileName">Username</label>
                            <input class="form-control" name="userProfileName" id="editProfileName" placeholder="<%= userInfo[0].profileName %>"></input>
                            <label for="editFistName">First Name</label>
                            <input class="form-control" name="userFName" id="editFirstName" placeholder="<%= userInfo[0].firstName %>"></input>
                            <label for="editFistName">Last Name</label>
                            <input class="form-control" name="userLName" id="editLastName" placeholder="<%= userInfo[0].lastName %>"></input>
                            <!-- <label for="editUserEmail">Email</label>
                            <input class="form-control" name="userEmail" id="editUserEmail" placeholder="SHOW EXISTING EMAIL"></input> -->
                            <input class="form-control btn btn-outline-danger form-button-spacing" type="button"  value="Reset Email"</input>
                            <input class="form-control btn btn-outline-danger form-button-spacing" type="button"  value="Reset Password"</input>
                            <input class="form-control btn btn-danger form-button-spacing" type="button" value="Delete Account"</input>
                          </div>
                        </div>
                      </div>
                  </div>
                  <div class="modal-footer">
                    <input type="submit" value="Save" class="btn btn-primary btn-block" />
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>

      <form action="/upload" method="POST" id="saveBtn" enctype="multipart/form-data">
        <div class="form-group">
          <textarea class="form-control" rows="3" name="caption" placeholder="What are you grateful for right now?"></textarea>
          <br />
          <div class="custom-file mb-3">
            <input type="file" name="file" id="file" class="form-control-file" />
          </div>
        </div>
        <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#collectionModal">
          Submit
        </button>

        <div class="modal" id="collectionModal" tabindex="-1" role="dialog">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Choose Your Collection</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="form-group">
                    <label for="collectionSelector">Choose Collection</label>
                    <input class="form-control collectionInputChoice" name="grouping" id="collectionTextArea" placeholder="Add New Collection"></input>
                    <select multiple class="form-control collectionInputChoice" id="collectionSelector" name="grouping">
                      <% if(groupings){ %>
                      <% groupings.forEach(function(userCollectionName) { %>
                        <option><%= userCollectionName %></option>
                        <% }) %>
                        <% } else { %>
                        <p>No Collections to show!</p>
                        <% } %>
                      </select>
                    </div>
              </div>
              <div class="modal-footer">
                <input type="submit" value="Save" class="btn btn-primary btn-block" />
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
      </form>

      <hr />
      <!-- note to self, eventually look to the btn-group for nice solution here -->
      <div class="container">
        <div class="row">
          <div class="col-sm m-auto ctr">
            <button type="button" id="showActvityFeed" class="btn btn-secondary btn-lg btn-block viewerChoice">Activity</button>
          </div>
          <div class="col-sm m-auto ctr">
            <button type="button" id="showCollections" class="btn btn-secondary btn-lg btn-block viewerChoice">Collections</button>
          </div>
        </div>


        <hr />

        <div class="activity">
          <% if(entries){ %>
          <% entries.forEach(function(entry) { %>
          <div class="card card-body mb-3 cushion">

            <% if (entry.imageFile === "NOTHING TO SEE HERE") { %>
              <% var hide = "" %>
            <% } else { %>
              <% var hide = "/image/" + entry.imageFile  } %>

            <div class="orientation" image="<%= hide %>"></div>

            <div class="capPad">
              <p class="card-text">
                <%= entry.caption %>
              </p>
            </div>
            <form method="POST" action="/delete">
              <button class="btn btn-danger btn-block mt-4" value="<%= entry.imageFile %>" name="deleteButton">DELETE</button>
            </form>
          </div>
          <% }) %>
          <% } else { %>
          <p>No entries to show!</p>
          <% } %>
        </div>

        <div class="userCollections d-none">
          <% if(groupings){ %>
          <% groupings.forEach(function(userCollectionName) { %>
            <form method="POST" action="/chosenCollection">
            <div class="card card-body mb-3 text-center cushion">
              <div class="capPad">
                <button class="card-text" name="userCollectionChosen" value="<%= userCollectionName %>" onchange="this.form.submit()">
                  <%= userCollectionName %>
                </button>
              </div>
            </div>
            <% }) %>
            <% } else { %>
            <p>No Collections to show!</p>
            <% } %>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('partials/footer') %>
