
<%- include('partials/headerLoggedIn') %>

<div class="container headerSpacing">
  <div class="row">
    <div class="col-md-8 m-auto">
      <div class="container">
        <div class="row">
          <div class="col-4 m-auto mobileCltImagePadding">
            <div class="card card-body pb-1">

              <form action="/changeCltImage" method="POST" id="cltImageForm" enctype="multipart/form-data">
                <div class="collectionImg orientation" id="cltImage" image="/image/<%= groupingInfo.groupingImageFile %>"></div>
                <div class="cltImagePreview orientation m-auto d-none" id="imagePreview" image=""></div>

                <% var cltImgCollapseExpandID = "aUCllctImg" + groupingInfo._id %>
                <% var cltImgCollapseExpandIconID = "b" + cltCollapseExpandID %>

                <div class="expndCrdContainer expandCrdCusion">
                  <button class="expndCrdBtn" type="button" data-toggle="collapse" data-target="#<%= cltImgCollapseExpandID %>" aria-expanded="false" aria-controls="<%= cltImgCollapseExpandID %>">
                    <i class="fas fa-chevron-down" id="<%= cltImgCollapseExpandIconID %>"></i>
                  </button>
                </div>
                <div class="collapse" id="<%= cltImgCollapseExpandID %>">
                  <div class="settingsContentWrapper mt-2 mb-3">
                    <button class="btn btn-primary btn-block cltImagePicBtn">Change</button>
                    <div class="d-none" id="cltImageSettingsBtnBar">
                      <label class="btn fileBtn" for="cltImgFile">
                        <input type="file" name="file" id="cltImgFile" class="" style="display:none" onchange="loadFilePreview(event); $('#upload-file-info').html(this.files[0].name);">
                        Add Image
                      </label>
                      <div class="label label-info cltImgFileBtn" id="upload-file-info"></div>
                      <div class="">
                      <!-- <div class="editUserSettingsBtnBar"> -->
                        <button type="submit" class="btn btn-primary cltImageSubmitBtn" value="<%= groupingInfo._id %>" name="groupingId">Save</button>
                        <button type="button" class="btn btn-secondary closeEditSettingsBtn" id="closecltImageEditSettingsBtn">Close</button>
                      </div>
                    </div>
                  </div>

                </div>
              </form>
            </div>
          </div>
          <div class="col-8 m-auto mobileCltCardPadding">
            <div class="card card-body-collectionPg">
              <h2 class="text-center">

                <%= groupingInfo.groupingName %>
              </h2>

              <% var cltCollapseExpandID = "aUCllct" + groupingInfo._id %>
              <% var cltCollapseExpandIconID = "bUCllct" + cltCollapseExpandID %>

              <div class="expndCrdContainer expandCrdCusion">
                <button class="expndCrdBtn" type="button" data-toggle="collapse" data-target="#<%= cltCollapseExpandID %>" aria-expanded="false" aria-controls="<%= cltCollapseExpandID %>">
                  <i class="fas fa-chevron-down" id="<%= cltCollapseExpandIconID %>"></i>
                </button>
              </div>

              <div class="collapse" id="<%= cltCollapseExpandID %>">
                <div class="editCollectionNameBtnBar d-none" id="editCltContainer<%=groupingInfo._id %>">
                  <input type="submit" value="Save" class="btn btn-primary btn-block mr-2 submitEditCollectionNameBtn" id="profileNameSubmitBtn" />
                  <button type="button" class="btn btn-secondary closeEditCollectionNameBtnBar" value="<%= groupingInfo._id %>">Close</button>
                </div>

                <div class="cltTileTrayContainer">
                  <div class="">
                    <button class="editBtn cltTileContainerBtn editCltTileContainerBtn" value="<%= groupingInfo._id %>" name="entryToUpdate">
                      <i class="fas fa-edit"></i>
                    </button>
                  </div>

                  <% if(groupingInfo.viewStatus === "public") { %>
                  <% var public = "" %>
                  <% var private = "d-none" %>
                  <% } else { %>
                  <% var public = "d-none" %>
                  <% var private = "" %>
                  <% } %>

                  <% var pubPriDDId = "dd" + groupingInfo._id %>
                  <% var pubPriModalDDId = "ddModal" + groupingInfo._id %>

                  <div class="dropdown">
                    <button class="btn btn-pubPri-clt dropdown-toggle" type="button" id="<%= pubPriDDId %>" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <div class="inline currentOption pubPritoggle-clt">
                        <div class="public <%= public %>">
                          <i class="inline fas fa-eye"></i>
                          <p class="inline">Public</p>
                        </div>
                        <div class="private <%= private %>">
                          <i class="inline fas fa-eye-slash"></i>
                          <p class="inline">Private</p>
                        </div>
                      </div>
                    </button>
                    <div class="dropdown-menu dropdown-menu-clt" aria-labelledby="<%= pubPriDDId %>">
                      <div class="dropdown-item dropdown-item-clt">
                        <%var pubPriFormId = "formDD" + groupingInfo._id %>
                        <form method="POST" action="/updateCltPrivacy" id="<%= pubPriFormId %>">
                          <div class="inline dDoption pubPritoggle-clt" data-toggle="modal" data-target="#<%= pubPriModalDDId %>">
                            <div class="public <%= private %>">
                              <i class="inline fas fa-eye"></i>
                              <p class="inline">Public</p>
                            </div>
                            <div class="private <%= public %>">
                              <i class="inline fas fa-eye-slash"></i>
                              <p class="inline">Private</p>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>

                  <div class="">
                    <% var deleteCltModal = "deleteCltModal" + groupingInfo._id %>
                    <button class="cltTileContainerBtn warning" data-toggle="modal" data-target="#<%= deleteCltModal %>">
                      <i class="fas fa-trash"></i>
                    </button>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>


      <hr />

      <div class="entryContainer entryFormCard">
        <form action="/upload" method="POST" enctype="multipart/form-data" onsubmit="entrySubmit.disabled = true; return true">
          <div class="form-group entry-form">
            <textarea class="form-control cushion expandTA" rows="2" name="caption" placeholder="What gratitude entry would you like to add to this collection right now?"></textarea>
            <input type="hidden" name="groupingName" value="<%= groupingInfo.groupingName %>">
            <div class="upldToggleContainer expandable d-none">

              <label class="btn fileBtn" for="my-file-selector2">
                <input id="my-file-selector2" type="file" name="file" class="" style="display:none" onchange="$('#upload-file-info2').html(this.files[0].name)">
                Add Image
              </label>
              <div class="inline label label-info" id="upload-file-info2"></div>
              <div class="toggleCotainer">
                <input type="checkbox" data-toggle="toggle" data-on="Private" data-off="Public" data-onstyle="danger" data-offstyle="success" name="status" data-width="100" checked value="private">
              </div>
            </div>
          </div>
          <button type="submit" class="btn btn-primary entry-form-submitBtn btn-block expandable d-none" value="save">
            Submit
          </button>

        </form>
      </div>

      <hr />
      <%_ entries.forEach(function(entry) { _%>

      <% if (entry.imageFile === "NOTHING TO SEE HERE") { %>
      <% var hide = "" %>
      <% var cardClass = "cardWOImg" %>
      <% var paddingTop = "pt-3" %>
      <% } else { %>
      <% var hide = "/image/" + entry.imageFile %>
      <% var cardClass = "cardWImg" %>
      <% } %>

      <% var cardId = "eIDuserEntries" + entry._id %>

      <div class="card card-body-2 mb-3 <%= paddingTop %>" id="<%= cardId %>">
        <div class="userEntriesImg orientation" image="<%= hide %>"></div>
        <div class="<%= cardClass %>">

          <div class="uNFavIcnContainer">
            <div class="profileFllwUnFllw">

              <% if(entry.viewStatus === "public") { %>
              <% var public = "" %>
              <% var private = "d-none" %>
              <% } else { %>
              <% var public = "d-none" %>
              <% var private = "" %>
              <% } %>

              <% var pubPriDDId = "dd" + entry._id %>
              <% var pubPriModalDDId = "ddModal" + entry._id %>

              <div class="dropdown inline pubPriUserBtn">
                <button class="btn btn-pubPri dropdown-toggle" type="button" id="<%= pubPriDDId %>" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <div class="inline currentOption pubPritoggle">
                    <div class="public <%= public %>">
                      <i class="inline fas fa-eye"></i>
                      <p class="inline">Public</p>
                    </div>
                    <div class="private <%= private %>">
                      <i class="inline fas fa-eye-slash"></i>
                      <p class="inline">Private</p>
                    </div>
                  </div>
                </button>
                <div class="dropdown-menu" aria-labelledby="<%= pubPriDDId %>">
                  <div class="dropdown-item">
                    <%var pubPriFormId = "formDD" + entry._id %>
                    <form method="POST" action="/updatePrivacy" id="<%= pubPriFormId %>">
                      <div class="inline dDoption pubPritoggle" data-toggle="modal" data-target="#<%= pubPriModalDDId %>">
                        <div class="public <%= private %>">
                          <i class="inline fas fa-eye"></i>
                          <p class="inline">Public</p>
                        </div>
                        <div class="private <%= public %>">
                          <i class="inline fas fa-eye-slash"></i>
                          <p class="inline">Private</p>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>

              </div>

            </div>

            <div class="favShare">
              <div class="shareBtnContainer">

                <% var collapseShareID = "auserEntries" + JSON.stringify(entry._id).replace(/"/g, "") %>

                <button class="shareBtn" type="button" data-toggle="collapse" data-target="#<%= collapseShareID %>" aria-expanded="false" aria-controls="<%= collapseShareID %>">
                  <i class="fas fa-share "></i>
                </button>
              </div>

              <div class="favBtnContainer">

                <% var favFormEntryId = "favFormuserEntries"+ entry._id%>

                <form method="POST" action="/favorite" id="<%= favFormEntryId %>">

                  <% var heartBtnEntryId = "euserEntries"+ entry._id%>
                  <% var favs = JSON.stringify(entry._favoriteUsers) %>
                  <% if (favs.includes(userData._id)) { %>
                  <% var faved = "" %>
                  <% var notFaved = "d-none" %>
                  <% var clicked = "clicked" %>
                  <% } else { %>
                  <% var faved = "d-none" %>
                  <% var notFaved = "" %>
                  <% var clicked = "" %>
                  <% } %>

                  <button class="favBtn <%= clicked %>" name="favoriteButton" id="<%= heartBtnEntryId %>" value="<%= entry._id %>">
                    <i id="unfav" class="far fa-heart <%= notFaved %>"></i>
                    <i id="Fav" class="fas fa-heart  <%= faved %>"></i>
                  </button>
                </form>
              </div>
            </div>
          </div>
          <div class="aFSMIconContainer collapse" id="<%= collapseShareID %>">
            <span class="aFSMIcons border rounded">
              <i class="fab fa-facebook"></i>
              <i class="fab fa-instagram"></i>
              <i class="fab fa-twitter"></i>
              <i class="fas fa-external-link-alt"></i>
            </span>
          </div>
          <div class="captionContainer">

            <% var captionId = "cptuserEntries"+ entry._id %>

            <p class="card-text" id="<%= captionId %>"><%= entry.caption %></p>
            <div class="editEntryForm d-none">
              <form method="POST" action="/upload">

                <% var editCaptionFormId = "editCptTAuserEntries"+ entry._id %>

                <textarea class="captionContainer" rows="" name="" id="<%= editCaptionFormId %>" placeholder=""><%- entry.caption %></textarea>

                <% var editCptBtnBarId = "editCptBtnBaruserEntries"+ entry._id %>

                <div class="editEntryBtnBar" id="<%= editCptBtnBarId %>">
                  <button type="submit" class="btn btn-primary btn-block mr-1 submitEditBtn" value="<%= entry._id %>">Save</button>
                  <button type="button" class="btn btn-secondary closeEditBtn" value="<%= entry._id %>">Close</button>
                </div>
              </form>
            </div>

          </div>

          <% var collapseExpandID = "b" + collapseShareID %>
          <% var collapseExpandIconID = "c" + collapseExpandID %>

          <div class="expndCrdContainer expandCrdCusion">
            <button class="expndCrdBtn" type="button" data-toggle="collapse" data-target="#<%= collapseExpandID %>" aria-expanded="false" aria-controls="<%= collapseExpandID %>">
              <i class="fas fa-chevron-down" id="<%= collapseExpandIconID %>"></i>
            </button>
          </div>

          <div class="collapse userEntryTrayContainer" id="<%= collapseExpandID %>">
            <div class="reportIcnContainer">
              <button class="entryContainerBtn">
                  <i class="fas fa-exclamation-circle"></i>
                  <i class="fas fa-slash overLayIcns"></i>
              </button>
            </div>

            <div class="userEditIcnContainer">
              <button class="editBtn entryContainerBtn" value="<%= entry._id %>" name="entryToUpdate">
                <i class="fas fa-edit"></i>
              </button>
            </div>

            <div class="userDeleteIcnContainer">
              <form method="POST" action="/delete">
                <button class="entryContainerBtn warning " value="<%= entry._id %> <%= entry.imageFile %>" id="deleteButton" name="deleteButton">
                  <i class="fas fa-trash"></i>
                </button>
              </form>
            </div>
          </div>

        </div>

        <div class="modal" id="<%= pubPriModalDDId %>" tabindex="-1" role="dialog">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Are You Sure?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="form-group">
                  <p>Changing the privacy setting will impact who can see this entry!</p>
                </div>
              </div>
              <div class="modal-footer">
                <button type="submit" id="sbmt<%= pubPriModalDDId %>" value="<%= entry._id %> <%= entry.viewStatus %>" class="btn btn-primary btn-block pubPriSubmitBtn">Yes. Let's Do it!</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>

      </div>

      <div class="modal" id="<%= pubPriModalDDId %>" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Are You Sure?</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="form-group">
                <p>Changing the privacy setting will impact who can see this collection!</p>
              </div>
            </div>
            <div class="modal-footer">
              <button class="btn btn-primary btn-block pubPriSubmitBtn-clt" type="submit" id="sbmt<%= pubPriModalDDId %>" value="<%= groupingInfo._id %> <%= groupingInfo.viewStatus %>">Yes. Let's Do it!</button>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

      <div class="modal" id="<%= deleteCltModal %>" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Are You Sure?</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="form-group">
                <p>Deleting this collection will also delete all it's underlying entries!</p>
              </div>
            </div>
            <form method="POST" action="/deleteCollection">
              <div class="modal-footer">
                <button class="btn btn-primary btn-block" type="submit" id="deleteCltBtn<%= groupingInfo._id %>" value="<%= groupingInfo._id %>"  name="deleteCollectionButton">Yes, I'm sure.</button>
                <button class="btn btn-secondary" type="button"  data-dismiss="modal">Cancel</button>
              </div>
            </form>
          </div>
        </div>
      </div>

      <%_ }) _%>

    </div>
  </div>
</div>

<%- include('partials/footer') %>
