<%- include('partials/headerLoggedInUser') %>


<title>Your Gratitude</title>
<div class="container">
  <div class="row">
    <div class="col-md-6 m-auto">
      <h1 class="text-center display-4 my-4">Your Gratitude</h1>
      <form action="/upload" method="POST" enctype="multipart/form-data">
        <div class="form group">
          <div class="form-group">
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="caption" placeholder="What are you grateful for right now?"></textarea>
            <br />
            <div class="custom-file mb-3">
              <input type="file" name="file" id="file" class="form-control-file" />
            </div>
          </div>
        </div>
        <input type="submit" value="Submit" class="btn btn-primary btn-block" />
      </form>

      <hr />
      <!-- note to self, eventually look to the btn-group for nice solution here -->
      <div class="container">
        <div class="row">
          <div class="col-sm m-auto ctr">
            <button type="button" id="showActvityFeed" class="btn btn-secondary btn-lg btn-block viewerChoice">Activity</button>
          </div>
          <div class="col-sm m-auto ctr">
            <button type="button" id="showCollections" class="btn btn-secondary btn-lg btn-block viewerChoice">Collections</button>
          </div>
        </div>


        <hr />

        <div class="activity">
          <% if(entries){ %>
          <% entries.forEach(function(entry) { %>
          <div class="card card-body mb-3 cushion">
            <div class="orientation" image="/image/<%= entry.imageFile %>"></div>
            <div class="capPad">
              <p class="card-text">
                <%= entry.caption %>
              </p>
            </div>
            <form method="POST" action="/delete">
              <button class="btn btn-danger btn-block mt-4" value="<%= entry.imageFile %>" name="deleteButton">DELETE</button>
            </form>
          </div>
          <% }) %>
          <% } else { %>
          <p>No entries to show!</p>
          <% } %>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('partials/footer') %>
