<%- include('partials/headerLoggedInMain') %>


<title>Aurealius</title>
<div class="container">
  <div class="row">
    <div class="col-md-6 m-auto">
      <div class="collectionHeading">
        <h1 class="text-center display-4 my-4">
          <% if(entries){ %>
          <%= entries[0].grouping %>
        </h1>
        <div class="collectionHeadingEdit">
          <i class="fas fa-edit fa-2x"></i>
        </div>
      </div>

      <hr />

      <div class="">
        <span class="collectionSocials">
          <i class="fab fa-facebook"></i>
          <i class="fab fa-instagram"></i>
          <i class="fab fa-twitter"></i>
          <i class="fas fa-external-link-alt"></i>
        </span>
        <span class="collectionDelete">
          <i class="fas fa-trash"></i>
        </span>
      </div>

      <hr />

      <form action="/upload" method="POST" enctype="multipart/form-data">
        <div class="form-group">
          <textarea class="form-control" rows="3" name="caption" placeholder="Add a new gratitude entry to this collection..."></textarea>
          <br />
          <div class="custom-file mb-3">
            <input type="file" name="file" id="file" class="form-control-file" />
          </div>
        </div>
        <input type="hidden" value="<%= entries[0].grouping %>" name="grouping" />
        <button type="submit" class="btn btn-primary btn-block">
          Save
        </button>
      </form>

      <hr />

      <% entries.forEach(function(entry) { %>
        <div class="card card-body mb-3 cushion">

          <% if (entry.imageFile === "NOTHING TO SEE HERE") { %>
          <% var hide = "" %>
          <% } else { %>
          <% var hide = "/image/" + entry.imageFile  } %>

          <div class="orientation" image="<%= hide %>"></div>
          <div class="capPad">
            <div>
              <div class="uNFavIcnContainer">
                <span class="aFSMIcons">
                  <i class="fab fa-facebook"></i>
                  <i class="fab fa-instagram"></i>
                  <i class="fab fa-twitter"></i>
                  <i class="fas fa-external-link-alt"></i>
                </span>
                <span>
                  <form method="POST" action="/favorite">
                    <button class="favBtn" name="favoriteButton" id="favUnfav" value="<%= entry._id %>">

                      <% var favs = JSON.stringify(entry.favoriteUsers) %>
                      <% if (favs.includes(userInfo[0]._id)) { %>
                      <% var faved = "" %>
                      <% var notFaved = "d-none" %>
                      <% } else { %>
                      <% var faved = "d-none" %>
                      <% var notFaved = "" %>
                      <% } %>

                      <i id="unfav" class="far fa-heart fa-2x <%= notFaved %>"></i>
                      <i id="Fav" class="fas fa-heart fa-2x <%= faved %>"></i>
                    </button>
                  </form>
                </span>
              </div>
            </div>
          <p class="card-text">
            <%= entry.caption %>
          </p>
        </div>
        <form method="POST" action="/delete">
          <button class="deleteIcn" value="<%= entry.imageFile %>" name="deleteButton">
            <i class="fas fa-trash"></i>
          </button>
        </form>
      </div>
      <% }) %>
      <% } else { %>
      <p>No entries to show!</p>
      <% } %>
    </div>
  </div>
</div>

<%- include('partials/footer') %>
