<%- include('partials/headerLoggedIn') %>

<title>Your Gratitude</title>
<div class="container">
  <div class="row">
    <div class="col-md-6 m-auto">
      <ul class="nav nav-tabs nav-fill">
        <li class="nav-item">
          <a class="nav-link" href="/index">Everyone's Gratitude</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/user">Your Gratitude</a>
        </li>
      </ul>
      <div class="userBio">
        <div class="userImageContainer">

          <% if(userInfo.bioImageFile === "/assets/defaultusericon.png") { %>
          <% var userImage = userInfo.bioImageFile %>
          <% } else { %>
          <% var userImage = "/image/" + userInfo.bioImageFile %>
          <% } %>
          <div class="userImage orientation" image="<%= userImage %>"></div>
        </div>
        <div class="userInfo">
          <h4 class="text-center display-4">
            <%=userInfo.firstName + " " + userInfo.lastName %>
          </h4>
          <form action="/userUpload" method="POST" id="userBioForm" enctype="multipart/form-data">
            <button type="button" class="btn btn-outline-secondary" data-toggle="modal" data-target="#userInfoModal">
              <i class="fas fa-edit"></i> Edit
            </button>
            <div class="modal" id="userInfoModal" tabindex="-1" role="dialog">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title">Edit Your Information</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <div class="form-group">
                      <div class="container-fluid">
                        <div class="row">
                          <div class="col">
                            <div class="userImagePreviewContainer">
                              <div class="userImageframe">
                                <div class="userImagePreview orientation" id="bioImage" image="<%= userImage %>"></div>
                                <img id="bioImagePreview" class="userImagePreview d-none"/>
                              </div>
                            </div>
                            <div class="custom-file mb-3">
                              <input type="file" name="file" id="bioFile" class="form-control-file" onchange="loadFile(event)"/>
                            </div>
                          </div>
                          <div class="col-6">
                            <label for="editProfileName">Username</label>
                            <input class="form-control" name="userProfileName" id="editProfileName" placeholder="<%= userInfo.profileName %>"></input>
                            <label for="editFistName">First Name</label>
                            <input class="form-control" name="userFName" id="editFirstName" placeholder="<%= userInfo.firstName %>"></input>
                            <label for="editFistName">Last Name</label>
                            <input class="form-control" name="userLName" id="editLastName" placeholder="<%= userInfo.lastName %>"></input>
                            <!-- <label for="editUserEmail">Email</label>
                            <input class="form-control" name="userEmail" id="editUserEmail" placeholder="SHOW EXISTING EMAIL"></input> -->
                            <input class="form-control btn btn-outline-danger form-button-spacing" type="button" value="Reset Email" </input>
                            <input class="form-control btn btn-outline-danger form-button-spacing" type="button" value="Reset Password" </input>
                            <input class="form-control btn btn-danger form-button-spacing" type="button" value="Delete Account" </input>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <input type="submit" value="Save" class="btn btn-primary btn-block" />
                      <button type="button" class="btn btn-secondary" id="userProfileEditClose" onclick="abortPreview(event)" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>

      <form action="/upload" method="POST" id="saveBtn" enctype="multipart/form-data">
        <div class="form-group entry-form"">
          <textarea class="form-control accordianTA" rows="3" name="caption" placeholder="What are you grateful for right now?"></textarea>
          <br />
          <div class="custom-file mb-3 expandable d-none">
            <input type="file" name="file" id="file" class="form-control-file" />
          </div>
          <div class="privacyToggle expandable d-none">
            <p>Keep Private?</p>
            <div class="toggleCotainer">
              <label class="switch">
                <input type="checkbox" name="status" checked value="private">
                <span class="slider round"></span>
              </label>
            </div>
          </div>
        </div>
        <button type="button" class="btn btn-primary btn-block expandable d-none" data-toggle="modal" data-target="#collectionModal">
          Submit
        </button>

        <div class="modal" id="collectionModal" tabindex="-1" role="dialog">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Choose Your Collection</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="form-group">
                  <label for="collectionSelector">Choose Collection</label>
                  <input class="form-control collectionInputChoice" name="grouping" id="collectionTextArea" placeholder="Add New Collection"></input>
                  <select multiple class="form-control collectionInputChoice" id="collectionSelector" name="grouping">
                    <% if(groupingData){ %>
                    <% groupingData.forEach(function(userCollectionName) { %>
                    <option>
                      <%= userCollectionName.name %>
                    </option>
                    <% }) %>
                    <% } else { %>
                    <p>No Collections to show!</p>
                    <% } %>
                  </select>
                </div>
              </div>
              <div class="modal-footer">
                <input type="submit" value="Save" class="btn btn-primary btn-block" />
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
      </form>

      <hr />

      <div class="container">
        <div class="row">
          <div class="btn-group col-sm m-auto ctr" role="group" aria-label="">
            <button type="button" id="showActvityFeed" class="btn btn-outline-secondary viewerChoice userBtnBar">Activity</button>
            <button type="button" id="showFavsActvityFeed" class="btn btn-outline-secondary viewerChoice userBtnBar">Favorites</button>
            <button type="button" id="showCollections" class="btn btn-outline-secondary viewerChoice userBtnBar">Collections</button>
          </div>
        </div>

        <hr />

        <div class="activity">
          <% if(entries){ %>
          <% entries.forEach(function(entry) { %>
          <div class="card card-body mb-3 cushion">

            <% if (entry.imageFile === "NOTHING TO SEE HERE") { %>
            <% var hide = "" %>
            <% } else { %>
            <% var hide = "/image/" + entry.imageFile  } %>

            <div class="orientation" image="<%= hide %>"></div>
            <div class="capPad">
              <div>
                <div class="uNFavIcnContainer">
                  <span class="aFSMIcons">
                    <i class="fab fa-facebook"></i>
                    <i class="fab fa-instagram"></i>
                    <i class="fab fa-twitter"></i>
                    <i class="fas fa-external-link-alt"></i>
                  </span>
                  <span>
                    <form method="POST" action="/favorite">
                      <button class="favBtn" name="favoriteButton" id="favUnfav" value="<%= entry._id %>">

                        <% var favs = JSON.stringify(entry.favoriteUsers) %>
                        <% if (favs.includes(userInfo._id)) { %>
                        <% var faved = "" %>
                        <% var notFaved = "d-none" %>
                        <% } else { %>
                        <% var faved = "d-none" %>
                        <% var notFaved = "" %>
                        <% } %>

                        <i id="unfav" class="far fa-heart fa-2x <%= notFaved %>"></i>
                        <i id="Fav" class="fas fa-heart fa-2x <%= faved %>"></i>
                      </button>
                    </form>
                  </span>
                </div>
              </div>
              <p class="card-text">
                <%= entry.caption %>
              </p>
            </div>
            <div>
              <form method="POST" action="/delete">
                <button class="deleteIcn" value="<%= entry.imageFile %>" name="deleteButton">
                  <i class="fas fa-trash"></i>
                </button>
              </form>
            </div>
          </div>
          <% }) %>
          <% } else { %>
          <p>No entries to show!</p>
          <% } %>
        </div>

        <div class="favoritesActvity d-none">
          <% if(userInfo.favorites.length > 0){ %>
          <% userInfo.favorites.forEach(function(favorite) { %>
          <div class="card card-body mb-3 cushion">

            <% if (favorite.imageFile === "NOTHING TO SEE HERE") { %>
            <% var hide = "" %>
            <% } else { %>
            <% var hide = "/image/" + favorite.imageFile  } %>

            <div class="orientation" image="<%= hide %>"></div>
            <div class="capPad">
              <div>
                <div class="uNFavIcnContainer">
                  <span>
                    <h5><%= favorite.userProfile %></h5>
                  </span>
                  <span>
                    <form method="POST" action="/favorite">
                      <button class="favBtn" name="favoriteButton" id="favUnfav" value="<%= favorite._id %>">
                        <i id="Fav" class="fas fa-heart fa-2x"></i>
                      </button>
                    </form>
                  </span>
                </div>
              </div>
              <div>
                <span class="aFSMIcons">
                  <i class="fab fa-facebook"></i>
                  <i class="fab fa-instagram"></i>
                  <i class="fab fa-twitter"></i>
                  <i class="fas fa-external-link-alt"></i>
                </span>
              </div>
              <p class="card-text">
                <%= favorite.caption %>
              </p>
            </div>

            <% var yours = JSON.stringify(userInfo._id) %>
            <% var posTheirs = JSON.stringify(favorite.userId) %>
            <% if (yours === posTheirs) { %>
            <% var show = "" %>
            <% } else { %>
            <% var show = "d-none" %>
            <% } %>

            <div class=" <%= show %>">
              <form method="POST" action="/delete">
                <button class="deleteIcn" value="<%= favorite.imageFile %>" name="deleteButton">
                  <i class="fas fa-trash"></i>
                </button>
              </form>
            </div>
          </div>
          <% }) %>
          <% } else { %>
          <p>No favorites to show!</p>
          <% } %>
        </div>

        <div class="userCollections d-none">
          <% if(groupingData){ %>
          <% groupingData.forEach(function(userCollection) { %>
          <form method="POST" action="/chosenCollection">
            <div class="card card-body mb-3 text-center cushion">
              <div class="collectionBackStop">
                <div class="orientation collectionImg" image="/image/<%= userCollection.image %>""></div>
                <button class="collectionButton" name="userCollectionChosen" value="<%= userCollection.name %>">
                  <%= userCollection.name %>
                  </button>
                </div>
          </form>
                <div class="collectionSocialBar">
                  <span class="collectionSocials">
                    <i class="fab fa-facebook"></i>
                    <i class="fab fa-instagram"></i>
                    <i class="fab fa-twitter"></i>
                    <i class="fas fa-external-link-alt"></i>
                  </span>
                  <span class="cltDContainer">
                    <form method="POST" action="/deleteCollection">
                      <button class="deleteIcn" value="<%= userCollection.name %>" name="deleteCollectionButton">
                        <i class="fas fa-trash"></i>
                      </button>
                    </form>
                  </span>
                </div>
              </div>
              <% }) %>
              <% } else { %>
              <p>No Collections to show!</p>
              <% } %>

        </div>
      </div>
    </div>
  </div>
</div>

<%- include('partials/footer') %>
